/* COMENTARIOS: vam con este formato, tipo recordatorios.

SELECTORES: no usar etiquetas html En el primer ejemplo el selector es: body{} Debe colocarse la propiedad CLASS en el html

body {
    background-color: rgba(55, 112, 60, 0.356);
    color: rgb(83, 81, 81)
}
/*

/* Busca dentro de BODY un MAIN,  dentro del main un ASIDE. Allì coloca color y background color, etc*/
body main aside{
    color: rgb(212, 10, 10);
    background-color: rgb(51, 47, 47);
    font-size: 28px;
    width: 25%;
    text-align: justify;
}

/*Utilizar clases en CSS para darle estilos. Se lo llama con "." */

.formulario{
    background-color: rgb(115, 158, 113);
    font-size: 2em;
}
/* EJERCICIO 04*/

.titulos_tabla{
    font-weight: bolder;
}
.tablas{
    border-style: double;
    border:1px;
    border-radius: 10%;
}
.encabezados{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
.turno{
    color: cyan;
}
.nombre{
    color: darkgoldenrod;
}
.apellido{
    color: darkgreen;
}
.foto{
    color: darkolivegreen;
}
.red_soc{
    color: darkorange;
}
.nota{
    color: darkslategray;
}
.turnos{
    font-style: oblique;
    font-size: 20px;
    color: rgb(133, 129, 129);
}
.observaciones{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
}