/* COMENTARIOS: vam con este formato, tipo recordatorios.

SELECTORES: no usar etiquetas html En el primer ejemplo el selector es: body{} Debe colocarse la propiedad CLASS en el html

body {
    background-color: rgba(55, 112, 60, 0.356);
    color: rgb(83, 81, 81)
}
/*

/* Busca dentro de BODY un MAIN,  dentro del main un ASIDE. Allì coloca color y background color, etc... Son de mayor prioridad/peso  este tipo de propiedades*/
body main aside{
    color: rgb(223, 207, 207);
    background-color: rgb(51, 47, 47);
    font-size: 20px;
    width: 20%;
    text-align: justify;
    padding: 10px;
}

/*Utilizar clases en CSS para darle estilos. Se lo llama con "." */


/* EJERCICIO 04*/

.titulos_tabla{
    font-weight: bolder;
}
.tablas{
    width: 50%;
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: 3px;  

}
.encabezados{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: 3px;  
}
.turno{
    color: cyan;
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: 2px;  
}
.nombre{
    color: darkgoldenrod;
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: 2px;  
}
.apellido{
    color: darkgreen;
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: git 2px;  
}
.foto{
    color: darkolivegreen;
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: 2px;  
}
.red_soc{
    color: darkorange;
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: 2px;  
}
.nota{
    color: darkslategray;
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: 2px;  
}
.turnos{
    font-style: oblique;
    font-size: 20px;
    color: rgb(133, 129, 129);
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: 2px;  
}
.observaciones{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    border-radius:2%;
    border-color: black;
    border-style: solid;
    border-width: 2px;  
}
/* EJERCICIO 05 */

.header{
    background-color: rgb(202, 133, 54);
    width: 100%;
    padding: 5px;
    margin-bottom: 2px;
}
.footer{
    background-color: rgb(146, 142, 142);
    width: 100%;
    padding: 5px;
    margin-top: 2px;
}
.formulario{
    background-color: #8bb189;
    font-size: 1.1em;
    border-color: rgb(26, 75, 13);
    border-style: solid ;
    border-width: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px;    
}

.ejercio05{
    width: 400px;
    height: 150px;
    background-color: #8bb189;
    border-width: 4px;
    border-style: dashed;
    border-radius: 10%;
    margin: 50px;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: italic;
    color: darkslategray;
    position: sticky;

}
.body{
    background-image: url(../Img/FrneLQCXwAUFjnY.jpeg);
    background-attachment: scroll;
    background-repeat: no-repeat;
}