.header{
    background-color: rgb(18, 167, 154);
    width: 100%;
    height: 5%;
    padding: 5px;
    margin-bottom: 2px;
}
.footer{
    background-color: rgb(146, 142, 142);
    width: 100%;
    height: 10%;
    padding: 5px;
    margin-top: 2px;
}
.section1{
    display: flex;
    flex-direction: row;    
}
.section1 img{
    margin: 10px;
}

.navegador{
}
.ul-navegador{  
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:  rgb(31, 122, 122);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    
}

.ul-navegador li{
    padding: .5em .5em;
    color: azure;
    border-color: azure;
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;
}

.ul-navegador li:hover{
    cursor: pointer;
    background-color: rgb(28, 78, 78);
    box-shadow: 2px 2px 2px 2px rgb(37, 37, 37);
    color: rgb(28, 75, 75);
    font-size: large
}

.ul-navegador li a{
    color: azure;
    text-decoration: none;
}
.ul-navegador li a:hover{
    color: rgb(221, 200, 200);
}